body {
  font-family: sans-serif;
  margin: 2px;
}

form {
  margin: 10% auto 0 auto;
  width: 380px;
}

form fieldset {
  border: 0;
  padding: 0;
  position: relative;
  width: inherit;
}

form legend {
  font-size: 12px;
  position: absolute;
  text-align: right;
  width: inherit;
}

form legend button {
  margin: 0 2px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type=reset] {
  display: block;
  margin: 0 auto;
  position: relative;
}

form textarea {
  margin: 10px 0;
  width: 370px;
}

form .textmarked {
  margin: 5px 0;
}

#output {
  border-top: 1px solid #bbb;
  height: 400px;
  margin-top: 50px;
  padding: 20px 10px 10px 10px;
}

#output * {
  margin: 0;
  padding: 0;
}

#output blockquote {
  background-color: #eee;
  color: #555;
  border-left: 2px solid #999;
  font-style: italic;
  margin: 10px 5px;
  padding: 10px;
}

#output code {
  background-color: #eee;
  color: #555;
}

#output img {
  width: 100%;
}
